<!-- authors/templates/authors/author_detail.html -->
<div class="container mt-5">
    <h2>{{ author.name }}</h2>
    <div class="author-photo">
        {% if author.photo %}
        <img src="{{ author.photo.url }}" alt="{{ author.name }}" class="img-fluid">
        {% else %}
        <p>No photo available</p>
        {% endif %}
    </div>
    <div class="author-info mt-4">
        <h4>Biography:</h4>
        <p>{{ author.information }}</p>
    </div>
    <div class="back-link">
        <a href="{% url 'vachanas:vachana_list' %}" class="btn btn-secondary">Back to Vachanas</a>
    </div>
</div>
